div#page-content-wrapper
  div.content-header
    h1 総合ランキング
  div.page-content.inset
    div.row
      div(ng-repeat='rankCategoryPosts in rankAllCategoryPosts')
        div(ng-hide="rankCategoryPosts[$index].rankWidth == 0")
          div.col-md-12.panel-padding-bottom
            .panel.panel-default(ng-hide="rankCategoryPosts[$index].rankWidth == 0")
              .panel-heading
                h3.panel-title {{(rankCategoryPosts[0].tags.split(","))[2]}}
              div(style="overflow-x: auto;")
                .panel-body(style="width:{{rankCategoryPosts[rankCategoryPosts.length-1].rankWidth}}px;")
                  div
                    .box(ng-repeat='rankCategoryPost in rankCategoryPosts')
                      span(ng-hide="$last")
                        img.img-responsive.thumb-pict(src="{{rankCategoryPost.sourceUrl}}")
                        .pict-discription
                          div
                            i.fa.fa-retweet.fa-border.icon-retweet  {{rankCategoryPost.retweetNum}}
                            i.fa.fa-star.fa-border.icon-star  {{rankCategoryPost.favNum}}
                            a(href='https://{{rankCategoryPost.tweetUrl}}', target="_blank")
                              .fa.fa-twitter.fa-border.icon-twitter

