div#page-content-wrapper
  div.content-header(ng-show="rankWidth")
    h1 {{(posts[0].tags.split(","))[2]}}
  div.page-content.inset
    div.row(ng-show="rankWidth")
      div.col-md-12.panel-padding-bottom
        .panel.panel-default
          .panel-heading
            h3.panel-title  リツイートランキング
          div(style="overflow-x: auto;")
            .panel-body(style="width:{{rankWidth}}px;")
              div
                .box(ng-repeat='rankPost in rankPosts')
                  img.img-responsive.thumb-pict(src="{{rankPost.sourceUrl}}")
                  .pict-discription
                    div
                      i.fa.fa-retweet.fa-border.icon-retweet  {{rankPost.retweetNum}}
                      i.fa.fa-star.fa-border.icon-star  {{rankPost.favNum}}
                      a(href='https://{{rankPost.tweetUrl}}', target="_blank")
                        .fa.fa-twitter.fa-border.icon-twitter

      div.col-md-12
        .panel.panel-default
          .panel-heading
            h3.panel-title 新着
          div(style="overflow-x: auto;")
            .panel-body(style="width:{{postWidth}}px;")
              div
                .box(ng-repeat='post in posts')
                  img.img-responsive.thumb-pict(src="{{post.sourceUrl}}")
                  .pict-discription
                    div
                      i.fa.fa-retweet.fa-border.icon-retweet  {{post.retweetNum}}
                      i.fa.fa-star.fa-border.icon-star  {{post.favNum}}
                      a(href='https://{{post.tweetUrl}}', target="_blank")
                        .fa.fa-twitter.fa-border.icon-twitter

    div(ng-hide="rankWidth")
      div(ng-hide="rankPosts.length == 0")
        i.fa.fa-refresh.fa-5x.pull-left.fa-spin
      div(ng-show="rankPosts.length == 0")
        span.fa-stack.fa-5x
          i.fa.fa-picture-o.fa-stack-1x.pull-left
          i.fa.fa-ban.fa-stack-2x.pull-left.text-danger
        .fa-5x No data ...
