/* app css stylesheet */

a {
  text-decoration: none;
}

.no-link {
  pointer-events:none;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.dummy {
    margin-top: 100%;
}

.thumbnail {
    position: absolute;
    text-align:center;
    margin: 5px;
}

.thumb-pict {
  border: 1px solid #ddd;;
  border-radius: 4px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.4), 5px 5px 10px rgba(255,255,255,0.3) inset, -5px -5px 10px rgba(255,255,255,0.3) inset;
  margin-bottom: 20px;
}

.pict-discription {
  float: left;
  margin: 0px 20px;
}

.sidebar-arrow {
  margin-right: 33px;
}

.sidebar-toggle {
  margin-right: 33px;
  z-index: 100;
}

.sidebar-ex-link {
  font-size: 10px;
  margin-right: 29px;
}

.sidebar-share {
  font-size: 8px;
  margin-right: 29px;
}

.scroll-pict {
  width: auto;
  max-height: 200px;
  border: 1px solid #888;
  margin: 15px;
}

.box {
  display: inline-block;
  margin-left: -20px;
}

.box img{
  width: auto;
  max-height: 300px;
  margin: 0px 20px 20px;
}

/**
 * zip
 */
.dl-link {
  cursor: pointer;
}

.dl-link:hover {
  color: #03A9F5;
}

.zip {
  margin-right: 5px;
}

/**
 * clearfix
 */
.box-container {
  display: inline-block;
}

.box-container:before,
.box-container:after {
    content: "";
    display: table;
}

.box-container:after {
    clear: both;
}

/* For IE 6/7 (trigger hasLayout) */
.box-container {
    zoom: 1;
}

.hidden-scrollbar {
  overflow:hidden;
}

.interval-space {
  padding-bottom: 20px;
}

/**
 * icon
 */
.icon-retweet {
  color: #85B95E;
  cursor: pointer;
}

.icon-star {
  color: #FF9B00;
  cursor: pointer;
}

.icon-twitter {
  color: #009FE9;
  cursor: pointer;
}

.li-user {
  line-height: 80px !important;
}

.icon {
  margin: 16px 10px 10px 0;
  border-radius: 100%;
}

/**
 * Notify(toadter)
 */
.notify-success-img {
  padding-top: 15px;
  width: 150px;
  height: auto;
}

/**
 * User profile in user.jade
 */
.user-profile {
  min-height: 73px;
  margin-bottom: 20px;
}

.user-profile_icon {
  display: inline-block;
  border: 1px solid #ddd;;
  max-height: 73px;
  -moz-border-radius: 8px / 8px;
  -webkit-border-radius: 8px 8px;
  border-radius: 8px / 8px;
}

.user-profile_text {
  padding-left: 8px;
  overflow: hidden;
  zoom: 1;
  font-size: 1.2em;
  line-height: 1.6
}

.user-profile-text_name {
  vertical-align: top;
  display: inline-block;
  font-weight: bold;
}

.user-profile-text_screen_name {
  margin-left: 8px;
  color: #B3B3B1;
}

.user-profile-text_description {
  font-size: 0.8em;
  max-width: 480px;
}

.user-profile-text_url {
  padding-top: 4px;
}

.fa-link {
  font-size: 0.8em;
  vertical-align: middle;
  color: #B3B3B1;
}

.profile_url {
  margin-left: 5px;
}

/**
 *  for Loading icon in user.jade
 */
.loading {
  padding-bottom: 93px;
}

/**
 * image clop in user.jade
 */
.cover {
  display: inline-block;
  background-color: #ccc;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 5px;
  width: 200px;
  height: 200px;
  border: 1px solid #ccc;
  background-size: cover;
}


/**
 * Bootstrap callout (注意書きのCSS)
 */
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}


/**
 * tagc checkbox to button
 */
