html, body {
  font-family: YuGothic, 'Yu Gothic', '游ゴシック体', '游ゴシック', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', 'MSPゴシック', 'Osaka', 'MS PGothic', 'Arial', 'Helvetica', 'Verdana', 'sans-serif';
  margin-top: 0;
  /*font-size: 22px;*/
  color: #000;
  height: 100%;
  background-attachment: fixed;
  background-size: cover;
  background-color:　#F3F3F3;
}

a {
  text-decoration: none;
}

.no-link {
  pointer-events:none;
}

.clickable {
  cursor: pointer;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.dummy {
    margin-top: 100%;
}

.thumbnail {
    position: absolute;
    text-align:center;
    margin: 5px;
}

.thumb-pict {
  cursor: pointer;
  border: 1px solid #ddd;;
  border-radius: 4px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.4), 5px 5px 10px rgba(255,255,255,0.3) inset, -5px -5px 10px rgba(255,255,255,0.3) inset;
  margin-bottom: 20px;
}

.pict-discription {
  float: left;
  margin: 0px 20px;
}

.sidebar-arrow {
  margin-right: 33px;
}

.sidebar-toggle {
  margin-right: 33px;
  z-index: 100;
}

.sidebar-ex-link {
  font-size: 10px;
  margin-right: 29px;
}

.sidebar-share {
  font-size: 8px;
  margin-right: 29px;
}

.scroll-pict {
  width: auto;
  max-height: 200px;
  border: 1px solid #888;
  margin: 15px;
}

.box {
  display: inline-block;
  margin-left: -20px;
}

.box img{
  width: auto;
  max-height: 300px;
  margin: 0px 20px 20px;
}

/**
 * zip
 */
.dl-link {
  cursor: pointer;
}

.dl-link:hover {
  color: #03A9F5;
}

.zip {
  margin-right: 5px;
}

/**
 * clearfix
 */
.box-container {
  display: inline-block;
}

.box-container:before,
.box-container:after {
    content: "";
    display: table;
}

.box-container:after {
    clear: both;
}

/* For IE 6/7 (trigger hasLayout) */
.box-container {
    zoom: 1;
}

.hidden-scrollbar {
  overflow:hidden;
}

.interval-space {
  padding-bottom: 20px;
}

/**
 * icon
 */
.icon-retweet {
  color: #85B95E;
  cursor: pointer;
}

.icon-heart {
  color: #E2264D;
  cursor: pointer;
}

.icon-twitter {
  color: #009FE9;
  cursor: pointer;
}


.li-user {
  line-height: 80px !important;
}

.icon {
  margin: 16px 10px 10px 0;
  border-radius: 100%;
}

/**
 * Notify(toadter)
 */
.notify-success-img {
  padding-top: 15px;
  width: 150px;
  height: auto;
}

/**
 * User profile in user.jade
 */
.user-profile {
  min-height: 73px;
  margin-bottom: 20px;
}

.user-profile_icon {
  display: inline-block;
  border: 1px solid #ddd;
  max-height: 73px;
  -moz-border-radius: 8px / 8px;
  -webkit-border-radius: 8px 8px;
  border-radius: 8px / 8px;
}

.user-profile_text {
  padding-left: 8px;
  overflow: hidden;
  zoom: 1;
  font-size: 1.2em;
  line-height: 1.6
}

.user-profile-text_name {
  vertical-align: top;
  display: inline-block;
  font-weight: bold;
}

.user-profile-text_screen_name {
  margin-left: 8px;
  color: #B3B3B1;
}

.user-profile-text_description {
  font-size: 0.8em;
  max-width: 540px;
}

.user-profile-text_url {
  padding-top: 4px;
}

.fa-link {
  font-size: 0.8em;
  vertical-align: middle;
  color: #B3B3B1;
}

.profile_url {
  margin-left: 5px;
}

/**
 *  for Loading icon in user.jade
 */
.loading {
  padding-bottom: 93px;
}

/**
 * image clop in user.jade
 */
.cover {
  display: inline-block;
  background-color: #ccc;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 5px;
  width: 200px;
  height: 200px;
  border: 1px solid #ccc;
  background-size: cover;
}


/**
 * Bootstrap callout (注意書きのCSS)
 */
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}

/**
 * My_tag
 */
.tag-select-container {
  padding: 48px 0;
}

/**
 * Lightbix
 */
.lightbox-image-container {
  text-align: left;
}

.modal-content {
  background-color: rgba(0,0,0,0);
  border: none;
  box-shadow: none;
  -o-box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.modal-body {
  padding: 0 0 15px 0;
  border: none;
  box-shadow: none;
  -o-box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

/**
 * Sidebar
 */
.sidebar-nav_category {
  padding-left: 8px;
}

/**
 * Detail-Ranking
 */
.ranking-checkbox {
  margin: 17px 0 0 20px;
}

.detail-ranking-wrap {
  width: 1200px;
  margin: 0 auto;
  margin-top: 30px;
}

.detail-ranking-content {
  width: 480px;
  float: left;
  /*margin: 0 15px 30px 15px;*/
  margin: 0 0px 30px 0px;
  background-color: #f6f6f6;
  box-shadow: rgba(0, 0, 0, .15) 0 0 2px;
  border-radius: 4px;
}

.detail-ranking-rank {
  height: 20px;
  margin: 15px 15px;
  text-overflow: ellipsis;
  /*width: 330px;*/
  overflow: hidden;
  white-space: nowrap;
}

.detail-ranking-rank h2 {
  margin: 0;
  font-size: 15px;
  font-weight:  bold;
}
.detail-ranking-img {
  background-color: #fff;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
}
.detail-ranking-img img {
  margin: 0 auto;
}

.detail-ranking-text {
  min-height: 63px;
  margin: 15px 15px;
}

.detail-ranking-meta {
  height: 35px;
  padding: 10px 20px;
  background-color: #f2f2f2;
  border-top: 1px solid #d8d8d8;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-flex-direction: row;
  flex-direction: row;
}

/* [??] aタグだけなぜか下にずれているので上に浮かせる。 */
.detail-ranking-meta a {
  margin-top: -2px;
}


.detail-ranking-user_icon {
  display: inline-block;
  border: 1px solid #ddd;;
  max-height: 48px;
  -moz-border-radius: 4px / 4px;
  -webkit-border-radius: 4px 4px;
  border-radius: 4px / 4px;
}

.detail-ranking-user_text {
  padding-left: 15px;
  overflow: hidden;
  zoom: 1;
  font-size: 1.1em;
  line-height: 1.6
}

.detail-ranking-user-text_name {
  vertical-align: top;
  display: inline-block;
  font-weight: bold;
}

.detail-ranking-user-text_screen_name {
  margin-left: 8px;
  color: #B3B3B1;
}

.detail-ranking-user-text_tweet {
  font-size: 0.9em;
  max-width: 480px;
}

/**
 * title
 * # ~
 * とか
 * user profile
 * とか
 */
.title {
  display: inline-block;
}

/**
 * toggle-btn(ページ名の右端に表示)
 */
.toggle-btn {
  margin: 3px 20px 0 0;
}



/**
 * Go to top
 */
.footer__buttons-wrapper {
  bottom: 44px;
  position: fixed;
  right: 14px;
  z-index: 10000;
}

.footer__buttons {
  position: relative;
}

.fotter__inout-wrapper {
  margin-bottom: 8px;
}

.fa-circle {
  color: black;
}

.fa-angle-up {
  color: #ccd1d9;
}

/**
 * Footer
 */
.footer__statuses-wrapper {
  bottom: 14px;
  position: fixed;
  right: 14px;
  z-index: 10000;
}
