/* app css stylesheet */

/*body {
  overflow-y : hidden;
}*/
a {
  text-decoration: none;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}20px;

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.dummy {
    margin-top: 100%;
}
.thumbnail {
    position: absolute;
    /*
    top: 15px;
    bottom: 0;
    left: 15px;
    right: 0;
    */
    text-align:center;
    margin: 5px;
    /*padding-top:calc(50% - 30px); */
}
.thumb-pict {
  border: 1px solid #ddd;;
  border-radius: 4px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.4), 5px 5px 10px rgba(255,255,255,0.3) inset, -5px -5px 10px rgba(255,255,255,0.3) inset;
  margin-bottom: 20px;
}

.pict-discription {
  float: left;
  margin: 0px 20px;
}

.sidebar-arrow {
  margin-right: 33px;
  /*margin-right: 20px;*/
}

.sidebar-ex-link {
  font-size: 10px;
  margin-right: 29px;
}

.sidebar-share {
  font-size: 8px;
  margin-right: 29px;
}

.scroll-pict {
  width: auto;
  max-height: 200px;
  border: 1px solid #888;
  margin: 15px;
}

.box {
  display: inline-block;
  margin-left: -20px;
}

.box img{
  width: auto;
  max-height: 300px;
  margin: 0px 20px 20px;
}

/**
 * zip
 */
.dl-link {
  cursor: pointer;
}
.dl-link:hover {
  color: #03A9F5;
}
.zip {
  margin-right: 5px;
}

/* clearfix */

.box-container {
  display: inline-block;
}

.box-container:before,
.box-container:after {
    content: "";
    display: table;
}

.box-container:after {
    clear: both;
}

/* For IE 6/7 (trigger hasLayout) */
.box-container {
    zoom: 1;
}

.hidden-scrollbar {
  overflow:hidden;
}

.interval-space {
  padding-bottom: 20px;
}

/**
 * icon
 */
.icon-retweet {
  color: #85B95E;
  cursor: pointer;
}

.icon-star {
  color: #FF9B00;
  cursor: pointer;
}

.icon-twitter {
  color: #009FE9;
  cursor: pointer;
}

.li-user {
  line-height: 80px !important;
}
.icon {
  /*padding: 16px 10px 10px 0;*/
  margin: 16px 10px 10px 0;
  border-radius: 100%;
}

/**
 * Notify
 */
.notify-success-img {
  padding-top: 15px;
  width: 150px;
  height: auto;
}

/**
 * User profile in user.jade
 */
.user-profile {
  min-height: 73px;
  margin-bottom: 20px;
}
.user-profile_icon {
  display: inline-block;
  border: 1px solid #ddd;;
  max-height: 73px;
  -moz-border-radius: 8px / 8px;
  -webkit-border-radius: 8px 8px;
  border-radius: 8px / 8px;
}
.user-profile_text {
  padding-left: 8px;
  overflow: hidden;
  zoom: 1;
  font-size: 1.2em;
  line-height: 1.6
}
.user-profile-text_name {
  vertical-align: top;
  display: inline-block;
  font-weight: bold;
}
.user-profile-text_screen_name {
  margin-left: 8px;
  color: #B3B3B1;
}
.user-profile-text_description {
  font-size: 0.8em;
  max-width: 480px;
}
.user-profile-text_url {
  padding-top: 4px;
}

.fa-link {
  font-size: 0.8em;
  vertical-align: middle;
  color: #B3B3B1;
}
.profile_url {
  margin-left: 5px;
}

/**
 *
 */
.loading {
  padding-bottom: 93px;
}
/*i {
  font-size: 130%;
  margin-right: 5px;
}*/
/*.thumbnail {
  -moz-border-radius: 4px / 4px;
  -webkit-border-radius: 4px 4px;
  border-radius: 4px / 4px;
  padding: 0px;
  border: 0px;
}
.thumbnail img {
  -moz-border-radius: 4px 4px 0 0 / 4px 4px 0 0;
  -webkit-border-radius: 4px 4px;
  border-radius: 4px 4px 0 0 / 4px 4px 0 0;
  width: 100%;
}

.media .thumbnail-img {
  max-width: 64px;
  height: auto;
  border-radius: 4px;
}
.media .user-icon {
  position: relative;
}
.media .retweet-user-icon {
  position: absolute;
  top: 48px;
  left: 44px;
  z-index: 5;
}
.media .retweet-user-icon .icon-img {
  max-width: 24px;
  height: auto;
  border-radius: 4px;
}
.media .media-heading .name {
  font-size: 0.8em;
  font-weight: bold;
}
.media .media-heading .screen-name {
  margin-left: 8px;
  font-size: 0.8em;
  color: #B3B3B1;
}
.media .media-body {
  font-size: 16px;
}*/