!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title #1draw
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/simple-sidebar.css')
    link(rel='stylesheet', href="/bower_components/font-awesome/css/font-awesome.min.css")
    link(rel='stylesheet', href="/bower_components/nvd3/nv.d3.min.css")
    //- link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap-theme.min.css') これが入ってるとデザインが2.xっぽくなる
  body
    block body