link(rel='stylesheet', href='/css/lib/lib.min.css')
link(rel='stylesheet', href='/css/simple-sidebar.css')
link(rel='stylesheet', href='/css/toggle-btn.css')
link(rel='stylesheet', href='/css/checkbox.css')
link(rel='stylesheet', href='/css/app.css')