extends layout

block body
  div#wrapper
    div#sidebar-wrapper
      ul.sidebar-nav
        li.sidebar-brand
          a(href='/') #1draw-Ranking
        li
          a(href='/showDetail/lovelive') # LoveLive!
            span.pull-right.sidebar-arrow
              i.fa.fa-angle-right
        li
          a(href='/showDetail/aikatsu') # Ailatsu!
            span.pull-right.sidebar-arrow
              i.fa.fa-angle-right
        li
          a(href='/showDetail/yuruyuri') # yuruyuri
            span.pull-right.sidebar-arrow
              i.fa.fa-angle-right
        li
          a(href='/showDetail/kancolle') # kancolle
            span.pull-right.sidebar-arrow
              i.fa.fa-angle-right
        li
          a(href='/showDetail/mobamas') # mobamas
            span.pull-right.sidebar-arrow
              i.fa.fa-angle-right
        li
          a(href='/showDetail/millimas') # millimas
            span.pull-right.sidebar-arrow
              i.fa.fa-angle-right
        li
          a(href="http://eiua-1dr.tumblr.com", target="_blank") tumblr
            span.pull-right.sidebar-arrow
              i.fa.fa-angle-right

    div(ng-view)
