extends layout

block body
  div#wrapper(ng-controller='AdminUserCtrl')
    div#sidebar-wrapper
      ul.sidebar-nav
        li.sidebar-brand
          a(href='/') #1draw-Ranking
        li.li-user(ng-if='isAuthenticated')
          a.user(href='/user/{{user._json.id_str}}')
            img.pull-right.icon(ng-src='{{user._json.profile_image_url_https}}')
            span.username @{{user.username}}
        li
          a(href='/detail/lovelive') # LoveLive!
            span.pull-right.sidebar-arrow
              i.fa.fa-angle-right
        li
          a(href='/detail/aikatsu') # Aikatsu!
            span.pull-right.sidebar-arrow
              i.fa.fa-angle-right
        li
          a(href='/detail/yuruyuri') # Yuruyuri
            span.pull-right.sidebar-arrow
              i.fa.fa-angle-right
        li
          a(href='/detail/kancolle') # Kancolle
            span.pull-right.sidebar-arrow
              i.fa.fa-angle-right
        li
          a(href='/detail/mobamas') # Mobamas
            span.pull-right.sidebar-arrow
              i.fa.fa-angle-right
        li
          a(href='/detail/millimas') # Millimas
            span.pull-right.sidebar-arrow
              i.fa.fa-angle-right
        li
          a(href='/detail/toho') # Toho
            span.pull-right.sidebar-arrow
              i.fa.fa-angle-right
        li
          a(href="http://eiua-1dr.tumblr.com", target="_blank") tumblr
            span.pull-right.sidebar-ex-link
              i.fa.fa-external-link
        li
          a(href='/auth/twitter/callback', target='_self', ng-hide='isAuthenticated') Login with Twitter
            span.pull-right.sidebar-ex-link
              i.fa.fa-sign-in
        li
          a(href='/logout', target='_self', ng-show='isAuthenticated') Logout
            span.pull-right.sidebar-ex-link
              i.fa.fa-sign-out
        //- li
        //-   a(href='https://twitter.com/intent/tweet?url=http://ldraw-ranking.herokuapp.com/&text=1draw-Ranking \/ ', target="_blank") twitter
        //-     span.pull-right.sidebar-share
        //-       i.fa.fa-share

    div(ng-view)
