!!!
html(ng-app="myApp", ng-cloak, manifest="https://www.dropbox.com/s/x8s4xkmji62stu6/application.mf")
//- html(ng-app="myApp", ng-cloak)
  head
    meta(charset='utf8')
    meta(property='og:url', content='http://ldraw-ranking.herokuapp.com')
    meta(property='og:site_name', content='#1draw-Ranking')
    meta(property='og:description', content='#深夜の真剣お絵かき一本勝負ランキングサービス')
    meta(property='og:author', content='eiurur')
    meta(property='og:locale', content='ja_JP')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    base(href='/')
    title #1draw-Ranking
    link(rel='shortcut icon', href='/images/favicon.ico')
    include _styles
  body
    block body
  include _scripts