!!!
html(ng-app="myApp", ng-cloak)
  head
    meta(charset='utf8')
    meta(property='og:url', content='https://ldraw-ranking.herokuapp.com')
    meta(property='og:site_name', content='#1draw-Ranking')
    meta(property='og:title', content='#1draw-Ranking')
    meta(property='og:description', content='#深夜の真剣お絵かき一本勝負ランキングサービス')
    meta(property='og:image', content='https://66.media.tumblr.com/b1ab99e1059aaa66895ef128cd302017/tumblr_o2y5ctHXJN1r38tr9o9_r1_1280.jpg')
    meta(name='keyword', content='1draw,1draw-ranking,ldraw-ranking,ワンドロ,深夜の真剣お絵かき一本勝負,ワンドロランキング')
    meta(property='twitter:card', content='summary')
    meta(property='og:author', content='eiurur')
    meta(property='og:locale', content='ja_JP')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    base(href='/')
    title #1draw-Ranking
    link(rel='shortcut icon', href='/images/favicon.ico')
    include _styles
  body
    block body
  include _scripts