#page-content-wrapper
  .content-header(ng-show="rankWidth")
    h1 {{(posts[0].tags.split(","))[2]}}
  .page-content.inset
    .row(ng-show="rankWidth")
      .col-md-12
        .panel.panel-default
          .panel-heading
            h3.panel-title  リツイートランキング
          div(style="overflow-x: scroll;")
            .panel-body(style="width:{{rankWidth}}px;")
              .box(ng-repeat='rankPost in rankPosts | orderBy : "retweetNum" : "desc" | limitTo : 20')
                  post(post='rankPost')

        .interval-space

        .panel.panel-default
          .panel-heading
            h3.panel-title 新着
          div(style="overflow-x: scroll;")
            .panel-body(style="width:{{postWidth}}px;")
              .box(ng-repeat='post in posts | orderBy:"createdAt": "desc" | limitTo : 10')
                  post(post='post')

    //- loading(posts-width='rankWidth', posts-length='rankPosts.length')
    loading(
      judgement-material-whether-or-not-show-loading='rankWidth'
      judgement-material-whether-or-not-hide-page-content='rankPosts.length')

