#page-content-wrapper
  .content-header(ng-show="rankAllCategoryPosts.length")
    h1 総合ランキング
  .page-content.inset
    .row(ng-show="rankAllCategoryPosts")
      div(ng-repeat='rankCategoryPosts in rankAllCategoryPosts')
        div(ng-hide="rankCategoryPosts.length == 1")
          .col-md-12
            .panel.panel-default(ng-hide="rankCategoryPosts[$index].rankWidth == 0")
              .panel-heading
                h3.panel-title {{(rankCategoryPosts[0].tags.split(","))[2]}}
              div(style="overflow-x: scroll;")
                .panel-body(style="width:{{rankCategoryPosts[rankCategoryPosts.length-1].rankWidth}}px;")
                  .box(ng-repeat='rankCategoryPost in rankCategoryPosts')
                      span(ng-hide="$last")
                        post(post='rankCategoryPost')

            .interval-space

    loading(
      judgement-material-whether-or-not-show-loading='rankAllCategoryPosts.length'
      judgement-material-whether-or-not-hide-page-content='rankAllCategoryPosts.length')