#page-content-wrapper
  page-title(
    judgement-material-whether-or-not-show-loading='rankAllCategoryPosts.length',
    page-title='pageTitle')
  .page-content.inset
    .row(ng-if="rankAllCategoryPosts")
      div(ng-repeat='rankCategoryPosts in rankAllCategoryPosts')
        .col-md-12(ng-hide="rankCategoryPosts.length == 1")
          .panel.panel-default(ng-hide="rankCategoryPosts[$index].rankWidth == 0")
            .panel-heading
              h3.panel-title {{(rankCategoryPosts[0].tags.split(","))[2]}}
            div(style="overflow-x: scroll;")
              .panel-body(style="width:{{rankCategoryPosts[rankCategoryPosts.length-1].rankWidth}}px;")
                .box-container(ng-repeat='rankCategoryPost in rankCategoryPosts')
                  .box(ng-if="!$last")
                    post(post='rankCategoryPost')

          .interval-space

    loading(
      judgement-material-whether-or-not-show-loading='rankAllCategoryPosts.length',
      judgement-material-whether-or-not-hide-page-content='rankAllCategoryPosts.length')