#page-content-wrapper
  page-title(
    judgement-material-whether-or-not-show-loading='!isLoading',
    page-title='pageTitle')

  .page-content.inset
    .row(ng-if="rankOverallPosts.length != 0")
      div(ng-repeat='rankOverallPost in rankOverallPosts')
        .col-md-12(ng-if="rankOverallPost.length != 0")
          .panel.panel-default
            .panel-heading
              h3.panel-title
                a(href='/detail/{{rankOverallPost[0].category}}') {{rankOverallPost[0].tags}}
            div(style="overflow-x: scroll; white-space: nowrap;")
              .panel-body
                .box-container(ng-repeat='rankCategoryPost in rankOverallPost')
                  .box
                    post(post='rankCategoryPost', open-modal='openLightboxModal(rankOverallPost, rankCategoryPost, "totalNum")')

          .interval-space

    loading(
      judgement-material-whether-or-not-show-loading='isLoading',
      judgement-material-whether-or-not-hide-page-content='rankOverallPosts[0].length')