#page-content-wrapper
  page-title(
    judgement-material-whether-or-not-show-loading='!isLoading',
    page-title='pageTitle')

  .page-content.inset
    .row(ng-if="rankAllCategoryPosts.length != 0")
      div(ng-repeat='rankCategoryPosts in rankAllCategoryPosts')
        .col-md-12(ng-if="rankCategoryPosts.length != 0")
          .panel.panel-default
            .panel-heading
              h3.panel-title
                a(href='/detail/{{rankCategoryPosts[0].category}}') {{(rankCategoryPosts[0].tags.split(","))[2]}}
            div(style="overflow-x: scroll; white-space: nowrap;")
              .panel-body
                .box-container(ng-repeat='rankCategoryPost in rankCategoryPosts')
                  .box
                    post(post='rankCategoryPost')

          .interval-space

    loading(
      judgement-material-whether-or-not-show-loading='isLoading',
      judgement-material-whether-or-not-hide-page-content='rankAllCategoryPosts.length')