#page-content-wrapper
  .page-content.inset

    // 投稿一覧
    .bs-callout.bs-callout-info
      h4
        | 投稿画像一覧
      p
        | ワンドロタグに投稿した画像を表示します

    a(href="/my/post/{{user._json.id_str}}")
      button.btn.btn-info.btn-large 投稿画像一覧画面へ

    // タグ設定
    .bs-callout.bs-callout-info
      h4
        | タグ設定
      p
        | サイドバーに表示するタグの設定を行います。

    a(href='/my/setting/tag')
      button.btn.btn-info.btn-large タグ設定画面へ

    // ウォッチリストの設定
    .bs-callout.bs-callout-info
      h4
        | ウォッチリストの設定
      p
        | ウォッチリストのメンバーに関する設定を行います。

    a.no-link(href='/my/setting/watchlist')
      button.btn.btn-info.btn-large.disabled ウォッチリスト設定画面へ

