#page-content-wrapper
  page-title(
    judgement-material-whether-or-not-show-loading='!isLoading',
    page-title='pageTitle')

  .page-content.inset
    .row(ng-if="userAllCategoryPosts")
      div(ng-repeat='userCategoryPosts in userAllCategoryPosts')
        .col-md-12(ng-if="userCategoryPosts.length != 1")
          .panel.panel-default(ng-if="userCategoryPosts[$index].userWidth != 0")
            .panel-heading
              h3.panel-title {{(userCategoryPosts[0].tags.split(","))[2]}}
            div(style="overflow-x: scroll;")
              .panel-body(style="width:{{userCategoryPosts[userCategoryPosts.length-1].userWidth}}px;")
                .box-container(ng-repeat='userCategoryPost in userCategoryPosts | orderBy: orderProp: true')
                  .box(ng-if="!$first")
                    post(post='userCategoryPost')
          .interval-space

    loading(
      judgement-material-whether-or-not-show-loading='isLoading',
      judgement-material-whether-or-not-hide-page-content='userAllCategoryPosts.length')