#page-content-wrapper
  //- user-profile(
  //-   judgement-material-whether-or-not-show-loading='!isLoading',
  //-   user-data='userData')
  //- page-title(
  //-   judgement-material-whether-or-not-show-loading='!isLoading',
  //-   page-title='pageTitle')

  .page-content.inset

    loading(
      judgement-material-whether-or-not-show-loading='isLoading',
      judgement-material-whether-or-not-hide-page-content='userAllCategoryPosts.length')

    .row
      .col-md-12
        .user-profile(ng-if='!isLoading')
          a(href="https://twitter.com/{{userData.screen_name}}", target="_blank")
            img.user-profile_icon.pull-left(ng-src='{{userData.profile_image_url_https}}')
          .user-profile_text
            .user-profile-text_name {{userData.name}}
            span.user-profile-text_screen_name @{{userData.screen_name}}
            .user-profile-text_description(ng-bind-html='userData.description | newlines')
            .user-profile-text_url(ng-show="userData.url.length > 0")
              i.fa.fa-link
                a.profile_url(href="{{userData.url}}", target="_blank") {{userData.url}}

    .row(ng-if="userAllCategoryPosts.length != 0")
      div(ng-repeat='userCategoryPosts in userAllCategoryPosts')
        .col-md-12(ng-if="userCategoryPosts.length > 0")
          .panel.panel-default
            .panel-heading
              h3.panel-title {{(userCategoryPosts[0].tags.split(","))[2]}}:
                i.fa.fa-file-archive-o.pull-right.zip.dl-link(data-posts="{{userCategoryPosts}}", download-zip='download-zip')  {{userCategoryPosts.length}}

            div(style="overflow-x: scroll; white-space: nowrap;")
              .panel-body
                .box-container(ng-repeat='userCategoryPost in userCategoryPosts | orderBy: orderProp: true')
                  .box
                    post(post='userCategoryPost')
          .interval-space